{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium 'OSLO Urban Mining' definieert enkele eigen termen. Deze zijn te vinden onder Klassen en Eigenschappen, terwijl de gemapte termen opgelijst staan onder Externe Terminologie. De standaard richt zich op het interoperabel ontsluiten van data en bijbehorende contextuele informatie inzake BIM data in de context van Urban Mining. Het datamodel en het vocabularium werden opgesteld om op een eenduidige manier data te kunnen uitwisselen tussen steden, aannemers, architecten en andere stakeholders.</p>
{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
