{% extends "ap2.j2" %}

{% block summary %}
<p>Het applicatieprofiel OSLO Urban Mining toont hoe begrippen uit het overeenstemmend vocabularium gebruikt moeten worden om datastromen inzake datakwaliteit semantisch te verrijken, wat data over materialen in het kader van BIM beter vindbaar en begrijpbaar zal maken, alsook beter combineerbaar met andere databronnen.</p>
{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
